<div class="student_wrapper pad_bottom_2em margin_bottom_2em">
  <div class="float_wrapper student_header_wrapper">
    <h2 id="student_name" class="left" data-student-id="<%= student.socrates_id %>">
      <%= link_to student.name, user_path(student) %>
    </h2>


    <p class="right student_contact_wrapper">

      <span class="pad_left_half_em">
        <%= link_to student.github do %><i class="fa fa-github-alt fa-lg"></i><% end %>
      </span>

      <span class="pad_left_half_em">
        <%= link_to student.twitter do %><i class="fa fa-twitter fa-lg"></i><% end %>
      </span>

      <span class="pad_left_half_em">
        <%= mail_to student.email, raw("<i class='fa fa-envelope fa-lg'></i>"), subject: "Phase 0: Check In", cc: set_email_cc(student.cohort.location) %>
      </span>
    </p>
  </div>

  <div class="student_image_and_bio_wrapper">
    <div class="left width100">
      <%= link_to (image_tag student.gravatar_url, class: "round_corners_8"), user_path(student) %>
    </div>

    <div class="student_bio_wrap pad_bottom_2em">
      <!-- Are challenges up to date -->
      <p>
        <% if challenges_due - student.attempted_challenges.uniq == [] %>
          <i class="fa fa-check-circle green"></i>
        <% else %>
          <i class="fa fa-times-circle red"></i>
        <% end %>
        <span class="pad_left_half_em">Challenges completed</span>
        <span class="gray_text threequarter_size">(<%= "#{challenges_due.count - (challenges_due - student.attempted_challenges).count} / #{challenges_due.count}" %>)</span>
      </p>

      <!-- Are exercises complete -->
      <p>
        <% if exercises_due - student.attempted_exercises.uniq == [] %>
          <i class="fa fa-check-circle green"></i>
        <% else %>
          <i class="fa fa-times-circle red"></i>
        <% end %>
        <span class="pad_left_half_em">Exercises completed</span>
        <span class="gray_text threequarter_size">(<%= "#{student.attempted_exercises.uniq.count} / #{exercises_due.count}" %>)</span>
      </p>

      <!-- Is the student an intellectual flag -->
      <p>
        <i id="intellectual_flag" class="fa fa-flag threequarter_size <%= student.intellectual_flag ? 'red' : 'green' %>"></i>
        <span class="pad_left_half_em">Intellectual flag</span>
      </p>

      <!-- Is the student a cultural flag -->
      <p>
        <i id="cultural_flag" class="fa fa-flag threequarter_size <%= student.cultural_flag ? 'red' : 'green' %>"></i>
        <span class="pad_left_half_em">Cultural flag</span>
      </p>
    </div>
  </div>
</div>
