<div class="pad_bottom_2em margin_bottom_2em">

  <div class="student_image_and_bio_wrapper">
    <div class="left width100">
      <%= image_tag student.gravatar_url, class: "round_corners_8" %>
    </div>

    <div class="student_bio_wrap">
      <div class="float_wrapper student_header_wrapper">
        <h2 class="left">
          <!-- Intellectual flag -->
          <span class="">Intellectual flag:</span>
          <span class="pad_left_half_em">
            <i id="intellectual_flag" data-student-id="<%= student.socrates_id %>" class="fa fa-flag <%= student.intellectual_flag ? 'red' : 'green' %>"></i>
          </span>

          <!-- Cultural flag -->
          <span class="pad_left_2em">
            Cultural flag:
          </span>
          <span class="pad_left_half_em">
            <i id="cultural_flag" data-student-id="<%= student.socrates_id %>" class="fa fa-flag <%= student.cultural_flag ? 'red' : 'green' %>"></i>
          </span>
        </h2>
        <p class="right student_contact_wrapper">

          <span class="pad_left_half_em">
            <%= link_to student.github do %><i class="fa fa-github-alt fa-lg"></i><% end %>
          </span>

          <span class="pad_left_half_em">
            <%= link_to student.twitter do %><i class="fa fa-twitter fa-lg"></i><% end %>
          </span>

          <span class="pad_left_half_em">
            <%= mail_to student.email, raw("<i class='fa fa-envelope fa-lg'></i>"), subject: "Phase 0: Check In", cc: set_email_cc(student.cohort.location) %>
          </span>
        </p>
      </div>

      <p>
        <% if student.bio == "" || student.bio == nil %>
          No bio available for <%= student.name %>
        <% else %>
          <%= student.bio %>
        <% end %>
      </p>
    </div>
  </div>
</div>
