<h1 class ="margin_bottom_quarter_em"><%= @student.name %></h1>
<p class="margin_bottom_2em"><%= link_to @student.cohort.name, cohort_path(@student.cohort) %></p>

<%= render 'student_info_block', student: @student %>

<h2 class="pad_bottom_1em">
  <span class="width25 inline_block">
    <% if @student.attempted_exercises.uniq.count == @exercises.count %>
      <i class="fa fa-check-circle green"></i>
    <% else %>
      <i class="fa fa-times-circle red"></i>
    <% end %>
  </span>
  <span class="">
    Exercises
  </span>
</h2>

<% @exercises.each do |exercise| %>

  <div class="pad_bottom_2em gray_text">
    <p>
      <span class="width25 inline_block">
        <i class="fa <%= @student.attempted_exercises.include?(exercise) ? 'fa-check-circle green' : 'fa-times-circle red' %>"></i>
      </span>

      <%= link_to exercise.title, "http://socrates.devbootcamp.com/exercises/#{exercise.socrates_id}" %>
    </p>

    <% if @attempts_by_exercise_id[exercise.socrates_id] %>

      <p class="attempts_toggle pad_left_30 threequarter_size">show <%= @attempts_by_exercise_id[exercise.socrates_id].count %> attempts</p>

      <div class="hidden attempt_details margin_top_1em margin_left_30 border_middle_gray round_corners_8 bg_white">
          <% @attempts_by_exercise_id[exercise.socrates_id].each_with_index do |attempt, index| %>
            <div class="margin_1em">
              <p><%= "Attempt #{index +1}:" %></p>
              <p class="threequarter_size"><%= attempt.submitted_at.to_formatted_s(:long) %></p>
              <%= simple_format(attempt.code, class: 'code_block padding_bottom_1em') %>
            </div>
          <% end %>
      </div>
    <% end %>
  </div>
<% end %>

