<!DOCTYPE html>
<html>
<head>
  <title>Phase0App</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div class="width800 center">
      <% if authenticated? %>
        <%= render "layouts/authenticated_header" %>
      <% else %>
        <%= link_to 'sign in', :signin %>
      <% end %>
    </div>
  </header>

  <div class="width800 center container">

    <%= yield %>

  </div>

</body>
</html>
